<app-map-viewer [map]="currentMap" [cleaner]="currentCleaner" [visited]="visited"></app-map-viewer>
<span class="stats">
    Stats:<br />
    Area: {{ floorArea }}<br />
    Cleaning Area: {{ cleaningArea }} - {{ Math.round(cleaningArea / floorArea * 100) }}%<br />
    Cleaned Area: {{ cleanedTiles }} - {{ Math.round(cleanedTiles / cleaningArea * 100) }}%<br />
    Avg Moved Tiles / Second: {{ Math.round(averageSpeed * 100) / 100}}<br />
    Cleaned Tiles / Second: {{ Math.round(cleaningSpeed * 100) / 100 }}<br />
</span>
<br />
<button mat-button color="primary" (click)="startCleaningClick()">Start Cleaning</button>